@namespace Oqtane.Wiki
@inherits ModuleBase
@inject ISettingService SettingService
@implements Oqtane.Interfaces.ISettingsControl
@inject IStringLocalizer<Settings> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer

<form @ref="form" class="@(validated ? "was-validated" : "needs-validation")" novalidate>
    <div class="container">
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="editor" ResourceKey="Editor" ResourceType="@resourceType" HelpText="Specify the preferred authoring experience">Editor: </Label>
            <div class="col-sm-9">
                <select id="editor" class="form-select" @bind="@_editor">
                    <option value="">@Localizer["Full"]</option>
                    <option value="rich">@Localizer["Rich"]</option>
                    <option value="raw">@Localizer["Raw"]</option>
                </select>
            </div>
        </div>
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="files" ResourceKey="AllowFileManagement" ResourceType="@resourceType" HelpText="Specify if editors can upload and select files">Allow File Management: </Label>
            <div class="col-sm-9">
                <select id="files" class="form-select" @bind="@_allowfilemanagement">
                    <option value="true">@SharedLocalizer["Yes"]</option>
                    <option value="false">@SharedLocalizer["No"]</option>
                </select>
            </div>
        </div>
    </div>
</form>

@code {
    private string resourceType = "Oqtane.Wiki.Settings, Oqtane.Wiki.Client.Oqtane"; // for localization

    private ElementReference form;
    private bool validated = false;

    private string _editor;
    private string _allowfilemanagement;

    protected override void OnInitialized()
    {
        try
        {
            _editor = SettingService.GetSetting(ModuleState.Settings, "Editor", "");
            _allowfilemanagement = SettingService.GetSetting(ModuleState.Settings, "AllowFileManagement", "true");
        }
        catch (Exception ex)
        {
            ModuleInstance.AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            var settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            settings = SettingService.SetSetting(settings, "Editor", _editor);
            settings = SettingService.SetSetting(settings, "AllowFileManagement", _allowfilemanagement);
            settings = SettingService.SetSetting(settings, "PagePath", PageState.Page.Path);
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            ModuleInstance.AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}
